html,
body {
  height: 100%;
}

body {
  text-align: center;
  background-image: url("../images/cats.jpg");
  background-size: cover;
}

.ratings {
  padding: 5px;
  font-size: 1.3em;
  background: red;
  color: white;
  text-transform: uppercase;
  border-radius: 15%;
  box-shadow: 1px 1px 10px #00000030;
}

#wrapper {
  width: 960px;
  height: 92%;
  box-sizing: border-box;
  margin: 2.5% auto;
  border: 2px solid red;
  border-radius: 5%;
  background-color: #000000;
}

#sub-wrapper {
  position: relative;
  top: 6%;
  display: flex;
  flex-wrap: wrap;
  /* width: 900px !important; */
  justify-content: center;

}

img {
  height: 125px;
  padding: 5px;
  border: 3px ridge #d4d1aa;
  box-shadow: 1px 1px 10px #00000030;
  margin: 5px;
  background: #fff9be;
  border-radius: 5%;
}

h1 {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  font-family: Geo, sans-serif;
  font-size: 6.5em;
  font-weight: bold;
  color: red;
}

h2 {
  margin-bottom: 25px;
  font-size: 35px;
}

h3 {
  margin-bottom: 10px;
  font-size: 25px;
}

button.gif-btn {
  padding: 20px;
  margin: 2px;
  box-shadow: 1px 1px 10px #00000030;
  /* border-radius: 4px; */
}

button:hover {
  background: pink;
  border: 2px solid blue;
}

label {
  color: white;
}

img.gif-holder:hover {
  box-shadow: 1px 1px 15px #fc0802;
}